html, body {
    height: 100dvh;
}

main {
    font-family: 'Geologica', sans-serif;
    display: flex;
    flex-direction: column;
    place-content: center ;
    height: 100%;
}

.page {
    display: block;
    height: 100%;
    width: 100%;
}

.container {
    max-width: 600px;
    width: 600px;
    margin: 5% auto;
}